/* Estilos para el footer */
.site-footer {
    background-color: #f8f9fa;
    padding: 2rem 0;
    color: #333;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    gap: 2rem;
  }
  
  .map-container {
    flex: 1 1 60%;
    min-width: 300px;
    margin-bottom: 1rem;
  }
  
  .footer-info {
    flex: 1 1 35%;
    min-width: 250px;
    padding: 0 1rem;
    h3 {
        color: #002850;
        font-size: 1.3rem;
        margin-bottom: .3rem;
    }
    p {
      margin: .4rem 0;
    }
    i {
      text-decoration: none;
      font-size: 1.6rem;
      margin-right: .3rem;
      color: #333;
      align-self: flex-end;
  }
  }
  
  .copyright {
    text-align: center;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
    text-emphasis: none;
    margin: .5rem auto;
    color: #333;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    i {
        text-decoration: none;
        font-size: 1.6rem;
        margin-right: .3rem;
        color: #333;
        align-self: flex-end;
    }
  }

  a:visited {
    text-decoration: none;
    color: #333;
  }

  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
    
    .map-container, .footer-info {
      width: 100%;
    }
  }