/* Media Query para móviles */
@media (max-width: 768px) {
    nav {
        padding: .5rem;
        display: flex;
        flex-direction: column;
    }
    /* Oculta el menú de navegación en móviles */
    .nav-wrapper {
      display: none;
      flex-direction: column;
      position: relative;
      background-color: #001f3f;
      width: 100%;
      padding: 1rem;
      gap: 1rem;
      margin: 2rem auto;
      transition: all .3s ease;
      text-align: center;
    }
  
    /* Muestra el menú cuando está activo */
    .nav-wrapper.active {
      display: flex;
      transition: all .3s ease;

    }
  
    /* Muestra el botón de hamburguesa en móviles */
    .hamburger-menu {
      display: flex;
    }
  
    /* Animación para el botón de hamburguesa */
    .hamburger-menu.active .hamburger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .hamburger-menu.active .hamburger-line:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger-menu.active .hamburger-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  
    .hamburger-line {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

   

    /* Estilos para slider */
     #root .swiper {
        height: 90dvh;
    }

    .slide-content {
      flex-direction: column !important;
      margin: auto 1.2rem !important;
    }

    .slide1 > .slide-content > p {
      text-align: center;
      margin-top: 1.5rem;
    }

    .slide1 > .slide-content {
      text-align: center;
    }

    .swiper-cta {
      height: fit-content !important;
    }

    .swiper-cta > .cta-button {
      width: fit-content;
      margin: 0 auto;
    }

    .slide-financiacion > .slide-content {
      width: 100%;
      margin: 0 1.3rem;
    }

    .bank-promo {
      margin: 0 1rem;
      gap: .3rem !important;
      margin-top: 2rem;
      flex-direction: column;
    }

    .promo-text > p {
      margin-top: 1rem;
    }

    .promo-text {
      margin-left: 1rem;
    }

    .slide3 > .slide-content {
      margin: auto 2.6rem !important;
    }

    .slide3 > .slide-content > h1 {
      font-size: 3.4rem;
      text-align: center;
    }

    .slide3 > .slide-content > h1 > .neon-text {
      font-size: 5rem;
    }

    .slide3 > .slide-content > p {
      text-align: center;
    }

    .slide-promo > .slide-content {
      margin: auto 3.3rem !important;
      gap: 1.8rem;
    }

    .slide-kit > .slide-content {
      margin: auto 3.3rem !important;
      gap: 1.8rem;
    }

    .medios-pago {
      width: 90dvw;
    }
   

      /* Estilos para seccion productos */
      #productos {
        
        h1 {
            font-size: 3rem;
        }
        .proveedores-grid {
            grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
            width: 80dvw;
        }
        
      }
      /* Estilos para catalogo de proveedor */
      #catalogo-proveedor {
        .subcategorias-grid {
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
      }

      /* Estilos para seccion de contactos */
      #contacto {
        h1 {
            font-size: 3rem;
        }
        p {
            margin: 1rem 2rem;
        }
        .cont-wrapper {
            display: flex;
            flex-direction: column;
            margin: 3rem auto;
        }
        .contact-link {
            height: 6rem;
        }
      }
  }