.producto-detalle-card {
    background-color: rgba(255, 255, 255, 0.938);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 800px;
    width: 100%;
    position: relative;
  }
  
  .producto-left {
    flex: 1;
    margin-right: 20px;
  }
  
  .producto-left img {
    width: 100%;
    border-radius: 10px;
  }
  
  .producto-right {
    flex: 2;
  }
  
  .producto-right h3 {
    font-size: 2.3rem;
    margin-bottom: 10px;
    color: #0056b3;
  }
  
  .producto-right p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .ficha-tecnica {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
  .ficha-tecnica h5 {
    font-size: .9rem;
    color: #333;
    font-weight: 600;
    margin: 0;
  }
  
  .ficha-tecnica p {
    font-size: 0.9rem;
    color: #777;
    margin: 0;
  }

  .ficha-tecnica-link {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .ficha-tecnica-link:hover {
    text-decoration: underline;
  }
  
 .cerrar-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #007bff;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
  }

  .cerrar-btn:hover {
    background-color: #0056b3;
  }